<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>Crime Reporting</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/static/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/static/style.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="/static/statics/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/static/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/static/custom.css">

<!-- Modernizer for Portfolio -->
<script src="/static/modernizer.js"></script>

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="host_version">

	<!-- Modal -->
	<!--<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header tit-up">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Logout</h4>
			</div>
			<div class="modal-body customer-box">
				
				<ul class="nav nav-tabs">
					<li><a class="active" href="#Login" data-toggle="tab">Login</a></li>
					<li><a href="#Registration" data-toggle="tab">Registration</a></li>
				</ul>
				
				<div class="tab-content">
					<div class="tab-pane active" id="Login">
						<form role="form" class="form-horizontal" action="">
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="userid" placeholder="User Name" type="text" required>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="password" placeholder="Password" type="text" required>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
										Submit
									</button>
									<a class="for-pwd" href="javascript:;">Forgot your password?</a>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane" id="Registration">
						<form role="form" class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="aadhar" placeholder="Aadhar" type="text" required>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="name" placeholder="Name" type="text" required>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="userid" placeholder="User Name" type="text" required>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="password" placeholder="Password" type="password" required>
								</div>
							</div>
							<div class="row">							
								<div class="col-sm-10">
									<button type="button" class="btn btn-light btn-radius btn-brd grd1">
										Save &amp; Continue
									</button>
									<button type="button" class="btn btn-light btn-radius btn-brd grd1">
										Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>-->


	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->

	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<!--<a class="navbar-brand" href="index.html">
				<!--<a class="navbar-brand" href="index.html">
					<img src="images/logo-hosting.png" alt="" />
				</a>-->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host"
					aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" onclick="index()">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" onclick="info_zone()">Information Zone</a></li>
                        <li class="nav-item"><a class="nav-link" onclick="my_cases()">My Cases</a></li>
						<li class="nav-item"><a class="nav-link" onclick="upload_cases()">Upload Cases</a></li>
						<li class="nav-item"><a class="nav-link" onclick="contact()">Contact</a></li>
						<!--<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Hosting </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="hosting.html">Web Hosting </a>
								<a class="dropdown-item" href="hosting.html">WordPress Hosting </a>
								<a class="dropdown-item" href="hosting.html">Cloud Server </a>
								<a class="dropdown-item" href="hosting.html">Reseller Package </a>
								<a class="dropdown-item" href="hosting.html">Dedicated Hosting </a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="domain.html">Domain</a></li>
						<li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
						<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>-->
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a class="hover-btn-new log" onclick="logout()" data-toggle="modal"
								data-target="#login"><span>Logout</span></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<div class="all-title-box">
		<div class="container text-center">
			<h1>Emergency<span class="m_1">Reported Emergency Case</span></h1>
		</div>
	</div>






	<script src="/static/all.js"></script>

	<script src="/static/custom.js"></script>

	<script>
		function info_zone() {
			// window.location.href = 'http://localhost:8080/emergency'
			request('GET', 'http://localhost:8080/info_zone_user').then(function (res) {
				// document.body(res)
				document.open()
				document.write(res.body)
				document.close()
			})
        }
        
        function my_cases(){
            request('GET', 'http://localhost:8080/my_cases_user').then(function (res) {
                // document.body(res)
                document.open()
                document.write(res.body)
                document.close()
            })
        }

		function index() {
			// window.location.href = 'http://localhost:8080/info_zone'
			request('GET', 'http://localhost:8080/index_user').then(function (res) {
				// document.body(res)
				document.open()
				document.write(res.body)
				document.close()
			})
		}

		function upload_cases() {
			// window.location.href = 'http://localhost:8080/emergency'
			request('GET', 'http://localhost:8080/emergency').then(function (res) {
				// document.body(res)
				document.open()
				document.write(res.body)
				document.close()
			})
		}

		// function upload_cases() {
		// 	// window.location.href = 'http://localhost:8080/emergency'
		// 	request('GET', 'http://localhost:8080/emergency').then(function (res) {
		// 		// document.body(res)
		// 		document.open()
		// 		document.write(res.body)
		// 		document.close()
		// 	})
		// }
	</script>

	<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>

	<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-analytics.js"></script>

	<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-storage.js"></script>

	<script>

		// Your web app's Firebase configuration
		var firebaseConfig = {
			apiKey: "AIzaSyCEvPHsE99y0sTccqPpbTMrpzxsvIo8d3c",
			authDomain: "crime-scene-bcbf1.firebaseapp.com",
			databaseURL: "https://crime-scene-bcbf1.firebaseio.com",
			projectId: "crime-scene-bcbf1",
			storageBucket: "crime-scene-bcbf1.appspot.com",
			messagingSenderId: "1000042167224",
			appId: "1:1000042167224:web:0d809f9f1e27ca63bd6d4d",
			measurementId: "G-24KDJT144S"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();
		var firestore = firebase.storage()
		var storageRef = firestore.ref()

		request('GET', 'http://localhost:8080/fetchnotices').then(function (res) {
			console.log(res.body)

			var cases = JSON.parse(res.body);
			var keys = Object.keys(cases)
			console.log(keys)
			for (var i = 0; i < keys.length; i++) {
				// console.log(cases[keys[i]])
				console.log('key:'+keys[i])

				var obj = cases[keys[i]]
				var file_name = obj.file_name
				var person_name = obj.person_name
				console.log('Filename:'+file_name)
				if(obj.notice_type == 'missing'){
					console.log('missing')
					var location_ = obj['location']
					console.log('location:'+location_)
					showNotice(file_name,location_,person_name,'Missing')
				}
				else if(obj.notice_type == 'wanted'){
					console.log('wanted')
					var location_ = obj['bounty']
					showNotice(file_name,location_,person_name,'Wanted')
				}
				// var obj_keys = Object.keys(obj)
				// for(var j = 0; j<obj_keys.length; j++){
				// 	// console.log('obj_key'+obj[obj_keys[j]])
				// 	console.log("current j key:"+obj_keys[j])
				// 	console.log('j key length:'+obj_keys.length)
				// 	// var file_name = obj[obj_keys[j]].file_name
				// 	var file_name = obj.file_name
				// 	console.log('inside j loop'+j)
				// 	console.log('filename:'+file_name)
				// 	var person_name = obj[obj_keys[j]].person_name
				// 	if(obj[obj_keys[j]].notice_type == 'missing'){
				// 		var location_ = obj[obj_keys[j]]['location']
				// 		showNotice(file_name,location_,person_name,'missing')
				// 	}
				// 	else{
				// 		var bounty = obj[obj_keys[j]].bounty
				// 		showNotice(file_name,bounty,person_name,'wanted')
				// 	}
				// }
				
				// var file_name = notices[keys[i]].file_name
				// var person_name = notices[keys[i]].person_name
				// var notice_type = notices[keys[i]].notice_type
				// showNotice(file_name,person_name,notice_type)
				// console.log(file_name)
			}
			// var json = res.bo
			// console.log("Number of keys:"+Object.keys(json).length)
		})

		function showNotice(file_name, location_bounty,person_name,notice_type) {
			console.log('Inside shownotice:'+file_name+","+location_bounty+","+person_name+","+notice_type)
			var hr_ = document.createElement('hr')
			hr_.className = 'invis'
			hr_.style.margin = '10px 10px 10px 10px'
			var main_div = document.createElement('div')
			hr_.appendChild(main_div)
			var div2 = document.createElement('div')
			div2.className = 'col-md-12 col-sm-6 col-xs-12'
			main_div.appendChild(div2)
			var div3 = document.createElement('div')
			div3.className = 'icon-wrapper wow fadeIn'
			div2.appendChild(div3)
			var n_type = document.createElement('h3')
			n_type.innerHTML = 'Notice Type: '+notice_type
			div3.appendChild(n_type)

			var img_path
			// if(registered == 0)
			img_path = 'images/notice/'+file_name
			// else
			// img_path = 'images/user/'+file_name

			storageRef.child(img_path).getDownloadURL().then(function (url) {
			var elem = document.createElement('img')
			elem.setAttribute("height", "300");
			elem.setAttribute("width", "300");
			elem.setAttribute('src', url)
			div3.appendChild(elem)
			

			var h4 = document.createElement('h3')
			h4.innerHTML = 'Person Name: '+person_name
			div3.appendChild(h4)

			var h3 = document.createElement('h3')
			if(notice_type == 'Missing')
			h3.innerHTML = 'Location: '+location_bounty
			else
			h3.innerHTML = 'Bounty: '+location_bounty
			div3.appendChild(h3)

			document.body.appendChild(main_div)

			
			// main_div.appendChild(elem)
		})
		}




		// var main_div = document.createElement("div")
		// main_div.style.width = "500px";
		// main_div.style.height = "500px";
		// main_div.style.background = "red";
		// main_div.style.color = "white";

		
		function logout(){
            window.location.href = "http://localhost:8080/index"
        }

		

	</script>

</body>

</html>